submissions/pixel-dongle/src/pixel-dongle/pixel-dongle-backups/
fp-info-cache
submissions/pixel-dongle/src/pixel-dongle/~pixel-dongle.kicad_sch.lck
submissions/pixel-dongle/src/pixel-dongle/~pixel-dongle.kicad_pcb.lck
submissions/pixel-dongle/production/backups/
